@import '../../utilities/variables';

.header-card {
    position: absolute;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100px;
    margin-left: auto;
    margin-right: auto;
    width: 730px;
    height: 140px;
    border-radius: 6px;
    z-index: 3;

    &--light {
        background-color: $white;
    }

    &--dark {
        background-color: rgba(25, 32, 45, 1);
    }

    &__container {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: 140px 590px;
    }

    &__logo {
        width: 140px;
        height: 140px;
        object-fit: contain;
        background-color: $white;
    }

    &__information {
        padding: 4.2rem 4.0rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &--light {
            h2 {
                margin-bottom: 1.3rem;
                @include heading-5;
                color: black;
            }

            p {
                @include heading-6;
                color: rgba(110, 128, 152, 1)
            }
        }

        &--dark {
            h2 {
                margin-bottom: 1.3rem;
                font-family: Kumbh Sans;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: left;
                color: $white;
            }

            p {
                @include heading-6;
                color: rgba(110, 128, 152, 1);
                color: $dark-grey;
            }
        }
    }

    &__button {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &--light {
            button {
                @include button-3;
            }
        }

        &--dark {
            button {
                @include button-4;
            }
        }
    }
}