.cards {
    width: 1110px;
    min-height: 100%;
    margin: 0 auto;
    padding: 2.5rem 0;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
}