@import './utilities/variables';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  @include font-type;
  
}

.App {
  &--light {
    background-color: $light-grey
  }
  &--dark {
    background-color: $dark-blue
  }
}